body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #dddddd, #d02480);
    color: #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.game-box, .score-box {
    background: rgba(88, 4, 70, 0.15);
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.game-box {
    width: 340px;
}

.level-select {
    margin-bottom: 15px;
}

select {
    padding: 8px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #0e0d0c;
    color: white;
    cursor: pointer;
}

select:hover {
    background: #1f180e;
}

input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #0a0908;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #95876f;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}

#attempts, #hintText {
    margin-top: 10px;
    font-style: italic;
}


.score-box {
    width: 260px;
}

.score-box h2 {
    margin-bottom: 15px;
    color: #050500;
    font-size: 25px;
    font-style: normal;
}

#scoreList {
    list-style: none;
    padding: 0;
}

#scoreList li {
    padding: 8px 0;
    background: rgba(255,255,255,0.1);
    border-radius: 8px;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .game-box, .score-box {
        width: 80%;
    }
}

#congratsMessage.active {
    opacity: 1;
}
.top-message {
    color: #8c2f2f;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #dddddd, #d02480);
    padding: 10px;
    border-radius: 0px;
    width: 100%;
}
